


<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-student">
    <!-- <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="positronX.io Logo"> -->
    <span class="dasboard-text">Dashboard</span>
  </a>
</nav>



<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">

      <div class="sidebar-sticky">
        <ul class="nav flex-column">
         
            <mat-nav-list>
                <a mat-list-item class="nav-link active" >
                    <mat-icon class="sidenav-icon">dashboard</mat-icon>Dashboard
                </a>
                <a mat-list-item  (click)="authService.SignOut()">
                  <mat-icon class="sidenav-icon">logout</mat-icon>Logout
              </a>
            </mat-nav-list>

        </ul>
      </div>

      
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <!-- Default switch -->

        <div class="pt-3 pb-2 mb-3 border-bottom">

            <h1 class="h2">Dashboard</h1>
          
        </div>

         <!-- Show user data when logged in -->
         <div class="row">
            <div class="col-md-12">
                <mat-slide-toggle (click)="ChangeLED1()" [checked]="checked1">ปิดไฟ 1</mat-slide-toggle> <br> <br>
                <mat-slide-toggle (click)="ChangeLED2()" [checked]="checked2">ปิดไฟ 2</mat-slide-toggle> <br> <br>
              

            </div>
          </div>

        <br><br><br><br>

        <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">User Profile</h1>
          </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}">
              <div class="media-body">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
